# Python
__pycache__/
*.pyc
*.pyo
*.pyd
#env файлики залиты для просмотра на гит, но для корректности дописала в гитигнор
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log
postgres-data/